<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="up()"></ion-back-button>
    </ion-buttons>
    <ion-title class="titolo" >Nuova nota</ion-title>

    <!-- Menù Colori note -->
    <ion-radio-group [(ngModel)]="color"  slot="end"    (ionChange)="color">
      <ion-radio color="success" value="success"></ion-radio>
      <ion-radio color="danger" value="danger"></ion-radio>
      <ion-radio color="tertiary" value="tertiary"></ion-radio>
      <ion-radio  color="warning" value="warning" ></ion-radio>
    </ion-radio-group>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-item>

    <ion-input [(ngModel)]="title" placeholder="Titolo" class="titolo"> </ion-input>

  </ion-item>
  <!-- Textarea con placeholder -->
  <ion-item>
    <ion-textarea [(ngModel)]="content" placeholder="Scrivi qui la tua nota..." class="areaTesto"></ion-textarea>
  </ion-item>
  <div class="outer">
    <!-- Bottone Notifiche -->
  <ion-button color="warning" class="inner" (click)="showModal()"> Reminder &nbsp;<ion-icon name="notifications-outline"></ion-icon></ion-button>
     <!-- Bottone Geolocalizzazione -->
  <ion-button color="success" (click)="showModal3()" class="inner">Geolocalizzazione &nbsp;<ion-icon name="earth-outline"></ion-icon></ion-button>
  </div>
  <div class="outer">
    <!-- Bottone addNote -->
  <ion-button color="dark" (click)="addNote()">Salva &nbsp;<ion-icon name="save-outline"></ion-icon></ion-button>
    <!-- Bottone Crea elenco -->
    <ion-button color="light" (click)="showModal2()">Crea Elenco</ion-button>
  </div>

</ion-content>
