<ion-header>
  <ion-toolbar>
    <ion-title>Elenco</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Bottone Aggiungi Elenco -->
<ion-button expand="full" color="dark" (click)="addControl()">Aggiungi</ion-button>

<!-- TextArea con check -->
<ion-content padding>
<ion-list lines="none">
  <form [formGroup]="myForm">
    <ion-item *ngFor="let control of myForm.controls | keyvalue">
      <input type = "checkbox">
      <ion-input required type="text" [(ngModel)]="gesf" [formControlName]="control.key" placeHolder="Elenco ..."></ion-input>
      <ion-icon (click)="removeControl(control)" name="close-circle"></ion-icon>
    </ion-item>
  </form>
</ion-list>
</ion-content>
