<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/notes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ note.title }}</ion-title>

    <ion-radio-group  slot="end"   (ionChange)="note.color">
      <ion-radio color="success" value="success" ></ion-radio> &nbsp;
      <ion-radio color="danger" value="danger" ></ion-radio> &nbsp;
      <ion-radio color="tertiary" value="tertiary" ></ion-radio> &nbsp;
      <ion-radio  color="warning" value="warning"  ></ion-radio>
    </ion-radio-group>

    <ion-buttons slot="end">
      <ion-button (click)="deleteNote()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-textarea auto-grow (input)="noteChanged()" [(ngModel)]="note.content" placeholder="...inserisci una descrizione"></ion-textarea>
</ion-content>

