<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reimposta la tua Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Invia</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Per favore, inserisci il nome utente o l'indirizzo email che hai utilizzato quando ti sei registrato.
    </small>
  </form>
</ion-content>
