<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Data&Time</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Data</ion-label>
      <ion-datetime placeholder="Select Date" min="2021" max="2021"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Ora</ion-label>
      <ion-datetime display-format="h:mm A" picker-format="h:mm A"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-button (click)="delayedNotif()" color="success">
    Invia notifica
  </ion-button>
<ion-button (click)="close()" color="danger">chiudi</ion-button>

</ion-content>
