<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Note
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/nota'">
        <ion-icon slot="icon-only" name="clipboard"></ion-icon>
      </ion-button>
      <ion-button (click)="goToLogin()"><ion-icon name="person-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-list>

    <ion-item button detail *ngFor="let note of notesService.notes" [routerLink]="'/notes/' + note.id" routerDirection="forward">
      <ion-icon name="reader-outline"></ion-icon> <ion-label>{{ note.title }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
