<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Note
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/nota'">
        <ion-icon slot="icon-only" name="clipboard"></ion-icon>
      </ion-button>
      <ion-button (click)="goToLogin()"><ion-icon name="person-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">

  <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>

  <ion-list>

    <ion-item button *ngFor="let data of notesService.notes | filter:filterTerm"
              [routerLink]="'/notes/' + data.id" routerDirection="forward">
      <ion-icon name="reader"></ion-icon>
      <ion-label>{{data.title}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
