<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Note
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showModalElenco()">
       <ion-icon name="list-circle-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="'/nota'">
        <ion-icon slot="icon-only" name="clipboard"></ion-icon>
      </ion-button>
      <ion-button (click)="goToLogin()"><ion-icon name="person-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">

  <!-- Barra di ricerca -->
  <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>

  <ion-list>

    <ion-item  button *ngFor="let data of notesService.notes | filter:filterTerm"
              [routerLink]="'/notes/' + data.id" routerDirection="forward" [color]="data.color">
      <ion-icon name="reader"></ion-icon>
      <ion-label >{{data.title}}</ion-label>

    </ion-item>
  </ion-list>

  <!-- Evento per il Refresh -->

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <!--  Refresha Proprietà -->

    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <!-- Refresha  contenuto -->

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
              pullingIcon="chevron-down-circle-outline"
              pullingText="Pull to refresh"
              refreshingSpinner="circles"
              refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>

</ion-content>


